$color : #639ae2;
$fontsize : 2em;
$margin:5px;
@use '_first.scss';

.color{
    background-color:mix($color,#300);
}

p{
    font-size: $fontsize;
    color:$primary
}

h1{
    color:$color;
}
h2{
    margin:$margin;
    color:$color;
}
body{
    color: $primary
}